extends partials/base.jade

block title
	title brm | La Fábrica de Cajas

block content
	section.container-fluid.seccion-herramienta
		div.row
			article.herramienta-don-barredora
				a.btn.btn-back.btn-fab.btn-raised.mdi-hardware-keyboard-arrow-left(href="fabrica.php")
				img.img-circle.img-responsive.icono(src="images/iconos/donbarredora.png", alt="linguo", width="150")
				figure.cabezote
					//- img.bg.img-responsive(src="images/header-linguo.jpg")

				h1 Don Barredora

				div.row.descripcion
					div.col-lg-6.col-md-6.col-sm-6.col-xs-12
						video(width="560", height="340", autoplay controls)
							source(src="videos/DonBarredora.mp4", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
						
					div.col-lg-6.col-md-6.col-sm-6.col-xs-12

						p.
							Pumkachachin kachachinpumpum <br />
							yo soy don barredora <br />
							y vengo a buscar<br />
							los datos que a tu marca puede importar <br />
							tengo un gran motor <br />
							que puede almacenar miles de datos<br />
							y sin errar.<br />

						p.

							Yo soy el campeón para las rastreadas.
						a.btn.btn-primary.btn-sm(href="https://github.com/BRMBog/DonBarredora", target="_blank").
							Ver Proyecto en GitHub.
						//-a.btn.btn-info.btn-sm(href="videos/tutorial/Linguo.mp4", target="_blank").
							Ver video tutorial uso.
