extends partials/base.jade

block title
	title brm | La Fábrica de Cajas

block description
	meta(name="description" content="Meta description Ready" )

block content
	section.container-fluid.u-no-border.description
		div.row
			article.col-lg-7.col-md-7.col-sm-7.col-xs-12
				h2.
					En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de lanza en astillero, adarga antigua, rocín flaco y galgo corredor.

				
			div.col-lg-5.col-md-5.col-sm-5.hidden-xs

	
	section.container-fluid.u-bg-blanco.herramientas-login

		div.row
			h2.
				Para iniciar regístrate con tu  cuenta en cada una
				de estas herramientas. En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo.

			//- div.col-lg-1

			div.col-lg-2.col-md-2.col-sm-2.hidden-xs

			div.col-lg-8.col-md-8.col-sm-8.col-xs-12

				ul.lista-herramientas
					li: a(href=""): img.img-responsive(src="images/iconos/trello.png", alt="Trello")
					li: a(href=""): img.img-responsive(src="images/iconos/github.png", alt="GitHub")
					li: a(href=""): img.img-responsive(src="images/iconos/sparkle.png", alt="Mr. Chispa")
					li: a(href=""): img.img-responsive(src="images/iconos/yammer.png", alt="Yammer")
					li: a(href=""): img.img-responsive(src="images/iconos/taxi.png", alt="Smart Taxi")
					

			div.col-lg-2.col-md-2.col-sm-2.hidden-xs
			//- div.col-lg-1

			//- div.col-lg-1
					

			//- div.col-lg-1

			

	section.container-fluid.maquina
		div.row
			div.col-lg-12
				canvas#maquina

