extends partials/base.jade

block title
	title brm | La Fábrica de Cajas


block content
	section.container-fluid.u-no-border.description
		div.row
			article.col-lg-7.col-md-7.col-sm-7.col-xs-12
				h2.
					En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de lanza en astillero, adarga antigua, rocín flaco y galgo corredor.

				
			div.col-lg-5.col-md-5.col-sm-5.hidden-xs

	
	section.container-fluid.u-bg-blanco.herramientas-login

		div.row
			h2.
				Para iniciar regístrate con tu  cuenta en cada una
				de estas herramientas. En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo.

			//- div.col-lg-1

			div.col-lg-2.col-md-2.col-sm-2.hidden-xs

			div.col-lg-8.col-md-8.col-sm-8.col-xs-12

				ul.lista-herramientas
					li: a(href="https://trello.com/signup", target="_blank"): img.img-responsive(src="images/iconos/trello.png", alt="Trello")
					li: a(href="https://github.com/join", target="_blank"): img.img-responsive(src="images/iconos/github.png", alt="GitHub")
					li: a(href="http://mrchispa.brm.com.co", target="_blank"): img.img-responsive(src="images/iconos/sparkle.png", alt="Mr. Chispa")
					li: a(href="http://yammer.com.co/brm.com.co/", target="_blank"): img.img-responsive(src="images/iconos/yammer.png", alt="Yammer")

					li: a(href="https://webapp.smarttaxi.co/passengers/new/", target="_blank"): img.img-responsive(src="images/iconos/taxi.png", alt="Smart Taxi")

					li: a(href="http://encuesta.brm.co/encuestas/", target="_blank"): img.img-responsive(src="images/iconos/encuesta.png", alt="Encuesta")

					li: a(href="http://abraham.brm.com.co/superTriumph/", target="_blank"): img.img-responsive(src="images/iconos/super.png", alt="Super Triumph")

					li: a(href="http://www.tracx.com/", target="_blank"): img.img-responsive(src="images/iconos/tracx.png", alt="Super Triumph")

					li: a(href="http://www.shareablee.com/login/", target="_blank"): img.img-responsive(src="images/iconos/shareablee.png", alt="Shareablee")


					li: a(href="http://www.google.com.co/intl/es/about/products/", target="_blank"): img.img-responsive(src="images/iconos/gapps.png", alt="Google Apps")


					li: a(href="http://www.brm.com.co/InsightMaker/", target="_blank"): img.img-responsive(src="images/iconos/maker.png", alt="Insight Maker")
					
					li: a(href="#"): img.img-responsive(src="images/iconos/help.png", alt="Ayuda")
					

			div.col-lg-2.col-md-2.col-sm-2.hidden-xs
			//- div.col-lg-1

			//- div.col-lg-1
					

			//- div.col-lg-1

			
	
	section.container-fluid.container-maquina
		div.row
			div.col-lg-12.col-md-12.col-sm-12.col-xs-12
				button.btn.btn-info.mostrar.
					descubre nuestras herramientas


			div.col-lg-12.col-md-12.col-sm-12.col-xs-12.herramientas-propias
				ul.listado-herramientas
					li
						a(href="article.html")
							img.img-circle.img-responsive(src="images/iconos/kodos.png", alt="Kodos", width="150")
					li
						a(href="article.html")
							img.img-circle.img-responsive(src="images/iconos/krustyland.png", alt="KrustyLand", width="150")
					li
						a(href="article.html")
							img.img-circle.img-responsive(src="images/iconos/linguo.png", alt="Linguo", width="150")
					li
						a(href="article.html")
							img.img-circle.img-responsive(src="images/iconos/superbarra.png", alt="Super Barra", width="150")

					li
						a(href="article.html")
							img.img-circle.img-responsive(src="images/iconos/donbarredora.png", alt="Don Barredora", width="150")
					li
						a(href="article.html")
							img.img-circle.img-responsive(src="images/iconos/kang.png", alt="KrustyLand", width="150")
					li
						a(href="article.html")
							img.img-circle.img-responsive(src="images/iconos/gorgory.png", alt="Gorgory", width="150")

		div.row
			div.col-lg-12.col-md-12.col-sm-12.col-xs-12
				h4.copy.
					En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de lanza en astillero, adarga antigua, rocín flaco y galgo corredor.

				button.btn.btn-danger.accionar-maquina.
					Inicia la máquina
					<span>con tu correo corporativo</span>

				//- a(role="button").btn.btn-danger.accionar-maquina.
				//- 	Inicia la máquina
				//- 	<span>con tu correo corporativo</span>
				canvas#maquina

