extends partials/base.jade

block title
	title brm | La Fábrica de Cajas

block content
	section.container-fluid.seccion-herramienta
		div.row
			article.herramienta-kang
				a.btn.btn-danger.btn-fab.btn-raised.mdi-navigation-cancel(href="fabrica.php")
				img.img-circle.img-responsive.icono(src="images/iconos/kang.png", alt="kang", width="150")
				figure.cabezote
					//- img.bg.img-responsive(src="images/header-linguo.jpg")

				h1 Kang

				div.row.descripcion
					div.col-lg-6.col-md-6.col-sm-6.col-xs-12
					
						
					div.col-lg-6.col-md-6.col-sm-6.col-xs-12

						p.
							¿Yo un mormón? mi nombre es Kang, el soberano de BRM y todos los formulario se deben someter a mi poderío. Es hora de hacer de estos una raza superior.

						a.btn.btn-info.btn-sm(href="#", target="_blank").
							Ver Proyecto en GitHub.
						a.btn.btn-info.btn-sm(href="videos/tutorial/Kang.mp4", target="_blank").
							Ver video tutorial uso.