extends partials/base.jade

block title
	title brm | La Fábrica de Cajas

block content
	section.container-fluid.seccion-herramienta
		div.row
			article.herramienta-linguo
				a.btn.btn-back.btn-fab.btn-raised.mdi-hardware-keyboard-arrow-left(href="fabrica.php")
				img.img-circle.img-responsive.icono(src="images/iconos/linguo.png", alt="linguo", width="150")
				figure.cabezote
					//- img.bg.img-responsive(src="images/header-linguo.jpg")

				h1 Linguo

				div.row.descripcion
					div.col-lg-6.col-md-6.col-sm-6.col-xs-12
						video(width="100%", height="340", autoplay controls)
							source(src="videos/Linguo.mp4", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
						
					div.col-lg-6.col-md-6.col-sm-6.col-xs-12

						p.
							Linguo estááááá vivo.

						p.
							- Mi no querer erroes. <br />
							- Mi no querer errores.<br />
							- Yo no quiero errores.

						p.
							Mi nombre es Linguo, soy un desarrollo creado para la detección de errores en los formularios.

						a.btn.btn-primary.btn-sm(href="https://github.com/brm-cortesc/blackbox-tests", target="_blank").
							Ver Proyecto en GitHub.
						a.btn.btn-info.btn-sm(href="tutorial.php?herramienta=linguo", target="_blank").
							Ver video tutorial uso.
