extends partials/base.jade

block title
	title brm | La Fábrica de Cajas

block content
	section.container-fluid.seccion-herramienta
		div.row
			article.herramienta-linguo
				button.btn.btn-danger.btn-fab.btn-raised.mdi-navigation-cancel
				video#vid-herramienta(width='100%', controls='', autoplay='')
					source(src='videos/Linguo.mp4', type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
				img.hide.img-circle.img-responsive.icono(src='images/iconos/linguo.png', alt='linguo', width='150')
				figure.cabezote.hide
				h1.hide Linguo
				div.row.descripcion.hide
					div.col-lg-12.col-md-12.col-sm-12.col-xs-12
						p.
							Linguo estááááá vivo.

						p.
							- Mi no querer erroes. <br />
							- Mi no querer errores.<br />
							- Yo no quiero errores.

						p Mi nombre es Linguo, soy un desarrollo creado para la detección de errores en los formularios.