extends partials/base.jade

block title
	title brm | La Fábrica de Cajas

block content
	section.container-fluid
		div.row
			article.col-lg-12.col-md-12.col-sm-12.col-xs-12
		
				button.btn.btn-info.
					Ingresa
