extends partials/base.jade

block title
	title brm | La Fábrica de Cajas

block content
	section.container-fluid.seccion-herramienta
		div.row
			article.herramienta-superbarra
				a.btn.btn-danger.btn-fab.btn-raised.mdi-navigation-cancel(href="fabrica.php")
				img.img-circle.img-responsive.icono(src="images/iconos/superbarra.png", alt="gorgory", width="150")
				figure.cabezote
					//- img.bg.img-responsive(src="images/header-linguo.jpg")

				h1 SuperBarra

				div.row.descripcion
					div.col-lg-6.col-md-6.col-sm-6.col-xs-12
					
						
					div.col-lg-6.col-md-6.col-sm-6.col-xs-12

						p.
							¡No esperes más!, ¡Ya está aquí! el poder comprimido de de 50 corazones de manzanas y papel periódico.
						p.
							<strong>Información Nutricional:</strong> es un conjunto de scripts que optimiza y valida los archivos que se usan típicamente en un proyecto digital que implica diseño web y desarrollo web. Esta aplicación permite eliminar los espacios en blanco en documentos tipo hojas de estilos (.css), javascript (.js) haciendo que la carga del código sea más ágil, adicionalmente permite disminuir el tamaño que ocupan en disco las imágenes sin alterar el componente de calidad de las mismas y por último verifica que los archivos sass y less compilen; es decir, que estos archivos no tengan errores de sintaxis (escritura). El objetivo principal esta aplicación es optimizar espacio sin alterar calidad y concediendo una carga más rápida al igual que la súper barra, que comprime el poder de 50 manzanas en una sola barra.
						a.btn.btn-primary.btn-sm(href="https://github.com/brm-matteoquintero/superbarra", target="_blank").
							Ver Proyecto en GitHub.
						a.btn.btn-info.btn-sm(href="tutorial.php?herramienta=superbarra", target="_blank").
							Ver video tutorial uso.
