//Footer
footer.container-fluid
	div.row
		div.col-lg-8.col-md-8.col-sm-8.hidden-xs
		div.col-lg-4.col-md-4.col-sm-4.col-xs-12
			img.img-responsive(src="images/footer-firma.png", alt="Code with love by brm")

///-Footer

//Scripts
//- script(src='js/libs/jquery.js')
script(src='js/libs/bootstrap.min.js')
script(src='js/libs/material.min.js')
script(src='js/libs/ripples.min.js')
script(src='js/fabrica-de-cajas.js')
script.
	$(document).ready(function() {
		// This command is used to initialize some elements and make them work properly
		$.material.init();
	});