//Nib & gradient support
@import 'nib/vendor'
@import 'nib/gradients'
vendor-prefixes = o ms webkit moz official

//Variables y funciones
@import "modules/variables"
@import "modules/funciones"

//Layout
@import "modules/skin"
// @import "modules/buttons"
// @import "modules/carousel"
@import "modules/header"
@import "modules/sections"
@import "modules/footer"
// @import "modules/modules"
// @import "modules/widgets"
// @import "modules/register"

//Modules
@import "modules/utilities"
@import "modules/animations"
// @import "modules/media-queries"
@import "modules/keyframes"
// @import "modules/utilites"
