.nubes
	path("animation/nubes.svg")
	animation nubes 200s linear infinite
	background-repeat no-repeat
	background-size 100%
	height 47vh
	left -62vh
	position absolute
	transform-origin center center
	width 143vw
	z-index 10000
		
.sol
	path("animation/sol.svg")
	animation sol 10s linear infinite
	background-repeat no-repeat
	background-size 100%
	height 200px
	left 10vh
	position absolute
	transform-origin center center
	width @height
	
.arbol
	animation arbol 10s linear infinite
	background-repeat no-repeat
	height 400px
	position absolute
	width 200px

.arbol1
	path("animation/arbol1.svg")
	background-size 160%
	right -25vh
	top 7vw
	transform-origin 85% 60%

.arbol2
	path("animation/arbol1.svg")
	background-size 90%
	right -27vh
	top 9vw
	transform-origin 40% 30%

.arbol3
	path("animation/arbol2.svg")
	background-size 120%
	height 400px
	right -3vh
	top 2vw
	transform-origin 60% 75%
	width 400px