header
	background-color AzulOscuro
	

	h2
		color #fff
		font-size 1.3em
		margin-top 5em
	

	.logo
		display block
		margin 0.5em auto
		text-align right
		cursor pointer
		

		.img-responsive
			display inline-block

