//::::::::::::::::::::::::::
//
//
//		1: atributos
//		2: IDs
//		3: clases
//
//
////::::::::::::::::::::::::::

a
	color AzulClaro
	transition all ease-in-out 0.2s
	


body
	path("pattern.png")
	background-color AzulClaro
	font-family Roboto
	font-size 1em/16px
	

h1, h2, h3, h4, h5, h6
	font-family Mono
	

.login
	background-image none
	background-color AzulOscuro
	
	.login
		display block
		font-size 1.5em
		margin 0 auto
		max-width 12em
		top 1em

.row
	max-width 83.6em
	margin 0 auto
	

.logo-login
	display block
	margin 0 auto
	max-width 30em
	


.btn-danger
	absolute top 0 right 0
	margin 0.4em !important
	// color #fff
	z-index 10
	

.btn-primary:not(.btn-link):not(.btn-flat)
	background-color #692d81
	