//Header
header.container-fluid.u-no-border
	div.row
		//- div.col-lg-10.col-md-10.col-sm-10.col-xs-10
		//- 	h2.logo
		//- 		img.img-responsive(src="images/logo.png", alt="La Fábrica de cajas brm")
		//- div.col-lg-2.col-md-2.col-sm-2.col-xs-2

		//- 	button.btn.btn-default menu
		div.col-lg-8.col-md-8.col-sm-8.col-xs-8
			h2.logo
				img.img-responsive(src="images/logo.png", alt="La Fábrica de cajas brm")


		div.col-lg-4.col-md-4.col-sm-4.col-xs-12
			a.btn.btn-info.close-s(href="cerrar.php", role="button") Cerrar Sesión


///-Header